<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to remove WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www.dnartwork.com$" />
          </conditions>
          <action type="Redirect" url="http://dnartwork.com/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer> 
</configuration>
